html {
    scroll-behavior: smooth;
}

body {
    background-color:#112879;
    color: white;
}

#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #112879;
    z-index: 1000;
}

#navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 1.2rem;
    transition: background-color 0.3s;
  }
  
  #navbar a:hover {
    background-color: var(--main-gray);
  }

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.home a {
    background-color: rgb(118, 81, 219);
    color: white; 
    text-decoration: none;
    font-size: 1.6rem;
    padding: 1.2rem;
    transition: background-color 0.3s;
}

.tool {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.about-the-tool {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
}

.about-the-tool h1 {
    text-align: center;
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
}

.about-the-tool h3 {
    text-align: center;
    font-size: 30px;
    color: white;
    margin-top: 30px;
}

.about-the-tool p {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.about-the-tool ul {
    list-style-type: disc;
    margin-left: 20px;
}

.about-the-tool ul li {
    text-align: center;
    margin-bottom: 10px;
    line-height: 1.5
}

#feedback {
   font-size: 200%;
   text-align: center;
}
