html {
    scroll-behavior: smooth;
}

body {
    background-color:white;
    text-align: center;
    color: black;
}

ul{
	list-style: none;
}

/* Navbar */
#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: #08174f;
    z-index: 1000;
}

#navbar img.logo {
    height: 100px;
    width: auto;
}

#navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 1.2rem;
    transition: background-color 0.3s;
  }
  
  #navbar a:hover {
    background-color: var(--main-gray);
  }

  @media (max-width: 768px) {
    #navbar {
        flex-direction: column;
        height: auto;
        padding: 20px 0;
        transition: top 0.3s;
    }

    #navbar a {
        font-size: 1.2rem;
        padding: 0.8rem;
    }

    #navbar img.logo {
        height: 80px;
    }
}

/* mySidenav */
#mySidenav div {
    position: fixed;
    left: -80px;
    transition: 0.3s;
    padding: 10px;
    width: 120px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 0 5px 5px 0;
    display: flex; 
    justify-content:space-around;
  }
  
#mySidenav div:hover {
    left: 0;
  }
  
#about {
    top: 200px;
    background-color: #112879;
  }
  
#darkabout {
    top: 200px;
    background-color: white;
  }
  
#btn {
    background-color: #112879;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
  
  }
  
#darkbtn {
    background-color: white;
    border: none;
    color: #112879;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
  }

#submit-button {
    margin-bottom:20px;
    width:110px;
    height: 30px;
}

#feedback {
    font-size: 200%;
    text-align: center;
 }
 
#github-logo {
     font-size: 60px;
     margin-bottom: 100px;
 }

/* Habmurger */
.hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    #navbar a {
        display: none;
    }
}

/* Dark and light modes */
.dark-mode {
    background-color: #112879;
    color: white;
}

.light-mode {
    background-color: white;
    color: black;
}

/* Home */
@media(max-width: 767px){
    #home img.logo2{
      width: 75%;
      height: 35%;
  }
  }
  @media(max-width: 574px){
    #home img.logo2{
      width: 75%;
  }
  }

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.home a {
    background-color: rgb(118, 81, 219);
    color: white; 
    text-decoration: none;
    font-size: 1.6rem;
    padding: 1.2rem;
    transition: background-color 0.3s;
}

.tool {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

/* About us */
.about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.about-us p {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.about-us h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 200px;
}

.about-us h3 {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.container{
	max-width: 1200px;
	margin:auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Footer */
.footer{
    background-color: #08174f;
    padding: 70px 0;
}

.footer-col{
   padding: 0 15px;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 110px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/* About the tool */
.about-the-tool {
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
}

.about-the-tool h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 200px;
}

.about-the-tool h3 {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}

.about-the-tool p {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.about-the-tool ul {
    list-style-type: disc;
    margin-left: 20px;
}

.about-the-tool ul li {
    text-align: center;
    margin-bottom: 10px;
    line-height: 1.5
}

/* Output */
 .output {
     border: 1px solid #ccc;
     height: 100px;
     border-radius: 5px;
     padding: 10px;
     margin-top: 20px;
     box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
     background-color: #f9f9f9;
     margin-bottom: 20px;
 }
 .output h2 {
     margin-top: 0;
     margin-bottom: 20px;
 }

 .translation-header {
     margin-bottom: 10px;
     font-weight: bold;
 }

@media screen and (max-width: 768px) {
    .tool {
      padding: 20px;
    }
    .container {
      max-width: 100%;
    }
    #textInput {
      width: 100%;
    }
    .output {
      width: 100%;
      margin: 0;
    }
  }

  .tool h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 200px;
}